.place__title {
  margin: 0;
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
}

@media screen and (max-width: 896px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 544px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px 0;
  }
}
