.content-copyright__author {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

@media screen and (max-width: 730px) {
  .content-copyright__author {
    font-size: 14px;
    line-height: 14px;
  }
}